/* =============================================================================
   IMPORTS
   ========================================================================== */
/* =============================================================================
   VARS
   ========================================================================== */
/* =============================================================================
   APPLICATION
   ========================================================================== */
/* line 22, sass/app.scss */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

/* line 29, sass/app.scss */
html, body {
  width: 100%;
  height: 100%;
  overflow: none;
  background-color: #333333;
}

/* line 31, sass/app.scss */
header {
  text-align: center;
  height: 10%;
  background-color: #e70010;
}
/* line 36, sass/app.scss */
header h1 {
  margin: 0;
  padding: 0;
  font-size: 90%;
  font-weight: normal;
  font-family: Georgia1, Georgia, serif;
  color: #e4bc64;
  text-shadow: #f9ffff 0 -1px 1px, #333333 1px 1px 2px;
}

/* line 48, sass/app.scss */
#sketchPad {
  width: 100%;
  height: 90%;
  background-color: #333333;
}
/* line 53, sass/app.scss */
#sketchPad #canvas {
  width: 100%;
  height: 100%;
  background-color: #333333;
}
