/* =============================================================================
   IMPORTS
   ========================================================================== */
@import "compass/css3/text-shadow";

/* =============================================================================
   VARS
   ========================================================================== */
$base: #333;
$frame: #e70010;
$frameShadow: #be0032;
$frameHighlight: #ff0018;
$screen: #cdcaca;
$screenDark: #bacaca;
$headline: #e4bc64;
$headlineHighlight: #f9ffff;
$headlineFont: Georgia1, Georgia, serif;

/* =============================================================================
   APPLICATION
   ========================================================================== */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;

}

html, body { width: 100%; height: 100%; overflow: none; background-color: $base; }

header {
    text-align: center;
    height: 10%;
    background-color: $frame;
    
    h1 {
        margin: 0;
        padding: 0;
        font-size: 90%;
        font-weight: normal;
        font-family: $headlineFont;
        color: $headline;
        @include text-shadow($headlineHighlight 0 -1px 1px, $base 1px 1px 2px);
    }
    
}

#sketchPad {
    width: 100%;
    height: 90%;
    background-color: $base;
    
    #canvas {
        width: 100%;
        height: 100%;
        background-color: $base;
    }
}